<div class='page'>
  <h1>Week {{quiz}} Checkpoint</h1>
  <form method="post" action="/checkpoints/{{quiz}}/submissions">
    <label for='name'>Your name</label>
    <input name='name' id='name'>
    <button type='submit'>Start</button>
  </form>
  <div style="display: none">
    <ul><li></li><li></li><li></li></ul>
  </div>
</div>
<div class='page' id='last'>
  <h2>Current Score</h2>
  <span class='js-score'></span><br>
  <br>
  <form class="submit-quiz" method="post">
    <button>Submit Results</button>
  </form>
  <a href='#' onclick='history.back()' class='prev'>&larr; Prev</a>
</div>
<div class='questions'></div>
<script type='text/x-handlebars' id='question'>
  <div class='page' id='\{{index}}'>
    <h2>\{{description}}</h2>
    <br>
    <textarea class='starter-code' data-solution="\{{index}}">\{{starterCode}}</textarea>
    <button data-tests="\{{index}}">check</button>
    <a href='#\{{next}}' class='next' data-trigger="\{{index}}">Next &rarr;</a>
    <div class='progress'>\{{next}}/\{{total}}</div>
    <a href='#\{{prev}}' class='prev'>&larr; Prev</a>
    <div data-results="\{{index}}"></div>
  </div>
</script>
<script type='text/x-handlebars' id='assertions'>
  \{{#each assertions}}
  <div class='\{{status}}'>
    \{{description}}<br>
    Expected \{{expected}}.<br>
    Got \{{got}}
  </div>
  \{{/each}}
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src='/app.js'></script>
<script src='/quizzes/{{quiz}}.js'></script>
<script>
questions.forEach(render)
var buttons = document.querySelectorAll("[data-tests]")
Array.prototype.forEach.call(buttons, function (button, index) {
  onCheckClick(questions[index])
  button.addEventListener("click", function () {
    onCheckClick(questions[index])
  })
})

var nextButtons = document.querySelectorAll("[data-trigger]");
console.log(nextButtons)
Array.prototype.forEach.call(nextButtons, function(button){
  button.addEventListener("click", function(e){
    onCheckClick(questions[parseInt(e.target.getAttribute("data-trigger"))]);
  })
})
</script>
